<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/files/style.css">
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-27721031-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
    </head>
    <body>
        <table class="noborder" width="100%"><tbody><tr>
            <td width="33%" align="left" valign="bottom">
                <a href="http://www.liks.lt/"><img border="0" height="60" src="/files/images/liks.png" alt="Lietuvos kompiuterininkų sąjunga"></a>
            </td>
            <td width="33%" align="center" valign="bottom">
                <a href="http://www.mii.vu.lt">
                    <img border="0" height="60" src="/files/images/vu.png" alt="Vilniaus universitetas" align="bottom">
                    <img border="0" height="60" src="/files/images/mii.png" alt="Matematikos ir informatikos institutas" align="bottom">
                </a>
            </td>
            <td width="33%" align="right" valign="bottom">
                <a href="http://www.hubvilnius.lt/"><img border="0" height="60" src="/files/images/hub-vilnius.png" alt="Hub Vilnius" align="bottom"></a>
            </td>
        </tr></tbody></table>
        <hr>

        <h1>{{ page.title }}</h1>
        {{ content }}
    </body>
</html>
